.button {
  font-weight: 600;
  min-width: 39px;
  border: 0px;
  background: #d1d1d1;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 9px 15px;
}

.primary {
  background: #0bb4aa;
  border: 2px solid #0bb4aa;
  color: white;
  min-width: 100px;
}

.secondary {
  border: 2px solid #0bb4aa;
  background: transparent;
  color: #0bb4aa;
  min-width: 100px;
}

.tertiary {
  background: #d1d1d1;
}

.text {
  color: inherit;
  text-decoration: underline;
}

.decrement {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.increment {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
