.input {
  font: inherit;
  width: 100%;
  padding: 8px;
  margin: 0;
  background: white;
  border: 2px solid #d1d1d1;
  border-radius: 5px;
  &:focus,
  &:active {
    border: 2px solid #0bb4aa;
    outline: none;
  }
  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    appearance: none;
  }
}

.square {
  border-radius: 0;
}

.uppercase {
  text-transform: uppercase;
}

.small {
  width: 66.66%;
}
