.panel {
  background: white;
  min-height: calc(100vh - 150px);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  padding-bottom: 100px;
  overflow: hidden;
}

.padding {
  padding: 20px;
}
