.post {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
  padding: 20px;
  cursor: pointer;
  transition: background 0.25s;
  &:hover {
    background: #f5f5f5;
  }
}

.right {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.circle {
  background: #d1d1d1;
  height: 36px;
  width: 36px;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  margin-right: 15px;
}

.ref {
  font-weight: 600;
  margin-bottom: 4px;
  text-transform: uppercase;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
}

.cost {
  font-size: 14px;
  color: #999;
}

.chevron {
  margin-left: 8px;
}
