.preview {
  height: 130px;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: contain;
  background-image: url(./../public/preview.jpeg);
  border: 2px solid #d1d1d1;
  border-radius: 5px;
}

.door {
  border: 10px solid black;
  border-right: 0;
  flex: 1;
  // max-width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  &:last-child {
    border-right: 10px solid black;
  }
}

.white {
  border-color: white;
  &:last-child {
    border-color: white;
  }
}

.anthracite {
  border-color: #666;
  &:last-child {
    border-color: #666;
  }
}
